# Approximation validation report

_Validated: 2026-05-03T23:58:20.909543+00:00_

_Overall: **PASS**_

## raw -- `data\lizard_catchments_approx\catchments_approx_raw.geojson`

- Features total: **0**
- Features passed: **0**
- Features failed: **0**

## clean -- `data\lizard_catchments_approx\catchments_approx_clean.geojson`

- Features total: **0**
- Features passed: **0**
- Features failed: **0**
